<a href="https://colab.research.google.com/github/GNuSeekK/MachineLearning/blob/main/%EC%A3%BC%EC%8B%9D_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5_%ED%95%99%EC%8A%B5_%EB%AA%A8%EB%8D%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 구글 드라이브 Mount

In [1]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

# Frame_work import

In [3]:
!pip install cryptography
!pip install pymysql
!pip install --upgrade pandas_profiling
 
#드라이브 마운트
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense, Activation
import matplotlib.pyplot as plt
import random
from mpl_toolkits.mplot3d import Axes3D
import os, sys
import pymysql
import cryptography
import datetime as dt
import pandas_profiling
import requests
from bs4 import BeautifulSoup
import multiprocessing as mp
from multiprocessing import Pool, Manager

Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (3.4.7)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.14.5)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.20)
Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)
Collecting pandas_profiling
  Downloading https://files.pythonhosted.org/packages/3b/a3/34519d16e5ebe69bad30c5526deea2c3912634ced7f9b5e6e0bb9dbbd567/pandas_profiling-3.0.0-py2.py3-none-any.whl (248kB)
     |████████████████████████████████| 256kB 7.0MB/s
Requirement already satisfied, skipping upgrade: matplotlib>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (3.2.2)
Requirement already satisfied, skipping upgrade: seaborn>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (0.11.1)
Collecting htmlmin>=0.1.12
  Downloading https://files.pythonhosted.org/packages/b3/e7/fcd59e12169de19f0131ff2812077f964c6b960e7c09804d30a7bf2ab461/htmlmin-0.1.12.tar.gz
Collecting PyYAML>=5.0.0
  Downloading https://files.pythonhosted.org/packages/7a/a5/393c087efdc78091afa2af9f1378762f9821c9c1d7a22c5753fb5ac5f97a/PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636kB)
     |████████████████████████████████| 645kB 9.8MB/s
Collecting phik>=0.11.1
  Downloading https://files.pythonhosted.org/packages/b7/ce/193e8ddf62d4be643b9b4b20e8e9c63b2f6a20f92778c0410c629f89bdaa/phik-0.11.2.tar.gz (1.1MB)
     |████████████████████████████████| 1.1MB 17.3MB/s
Requirement already satisfied, skipping upgrade: scipy>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.4.1)
Requirement already satisfied, skipping upgrade: joblib in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.0.1)
Collecting requests>=2.24.0
  Downloading https://files.pythonhosted.org/packages/29/c1/24814557f1d22c56d50280771a17307e6bf87b70727d975fd6b2ce6b014a/requests-2.25.1-py2.py3-none-any.whl (61kB)
     |████████████████████████████████| 61kB 6.9MB/s
Collecting tangled-up-in-unicode==0.1.0
  Downloading https://files.pythonhosted.org/packages/93/3e/cb354fb2097fcf2fd5b5a342b10ae2a6e9363ba435b64e3e00c414064bc7/tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1MB)
     |████████████████████████████████| 3.1MB 22.5MB/s
Collecting visions[type_image_path]==0.7.1
  Downloading https://files.pythonhosted.org/packages/80/96/01e4ba22cef96ae5035dbcf0451c2f4f859f8f17393b98406b23f0034279/visions-0.7.1-py3-none-any.whl (102kB)
     |████████████████████████████████| 112kB 51.0MB/s
Requirement already satisfied, skipping upgrade: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.19.5)
Collecting tqdm>=4.48.2
  Downloading https://files.pythonhosted.org/packages/72/8a/34efae5cf9924328a8f34eeb2fdaae14c011462d9f0e3fcded48e1266d1c/tqdm-4.60.0-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 8.5MB/s
Requirement already satisfied, skipping upgrade: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (1.1.5)
Requirement already satisfied, skipping upgrade: missingno>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (0.4.2)
Requirement already satisfied, skipping upgrade: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from pandas_profiling) (2.11.3)
Collecting pydantic>=1.8.1
  Downloading https://files.pythonhosted.org/packages/9f/f2/2d5425efe57f6c4e06cbe5e587c1fd16929dcf0eb90bd4d3d1e1c97d1151/pydantic-1.8.2-cp37-cp37m-manylinux2014_x86_64.whl (10.1MB)
     |████████████████████████████████| 10.1MB 39.6MB/s
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.1)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (2.4.7)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.1)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas_profiling) (2020.12.5)
Requirement already satisfied, skipping upgrade: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas_profiling) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas_profiling) (2.10)
Requirement already satisfied, skipping upgrade: chardet<5,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->pandas_profiling) (3.0.4)
Requirement already satisfied, skipping upgrade: networkx>=2.4 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (2.5.1)
Requirement already satisfied, skipping upgrade: bottleneck in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (1.3.2)
Collecting multimethod==1.4
  Downloading https://files.pythonhosted.org/packages/7a/d0/ce5ad0392aa12645b7ad91a5983d6b625b704b021d9cd48c587630c1a9ac/multimethod-1.4-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: attrs>=19.3.0 in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (21.2.0)
Requirement already satisfied, skipping upgrade: Pillow; extra == "type_image_path" in /usr/local/lib/python3.7/dist-packages (from visions[type_image_path]==0.7.1->pandas_profiling) (7.1.2)
Collecting imagehash; extra == "type_image_path"
  Downloading https://files.pythonhosted.org/packages/8e/18/9dbb772b5ef73a3069c66bb5bf29b9fb4dd57af0d5790c781c3f559bcca6/ImageHash-4.2.0-py2.py3-none-any.whl (295kB)
     |████████████████████████████████| 296kB 49.7MB/s
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2018.9)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->pandas_profiling) (2.0.0)
Requirement already satisfied, skipping upgrade: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pydantic>=1.8.1->pandas_profiling) (3.7.4.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.2.0->pandas_profiling) (1.15.0)
Requirement already satisfied, skipping upgrade: decorator<5,>=4.3 in /usr/local/lib/python3.7/dist-packages (from networkx>=2.4->visions[type_image_path]==0.7.1->pandas_profiling) (4.4.2)
Requirement already satisfied, skipping upgrade: PyWavelets in /usr/local/lib/python3.7/dist-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.1->pandas_profiling) (1.1.1)
Building wheels for collected packages: htmlmin, phik
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-cp37-none-any.whl size=27085 sha256=138e51723463ead55cfce72a6473317022b71c5488db70cd9b32ccef548d0b61
  Stored in directory: /root/.cache/pip/wheels/43/07/ac/7c5a9d708d65247ac1f94066cf1db075540b85716c30255459
  Building wheel for phik (setup.py) ... done
  Created wheel for phik: filename=phik-0.11.2-cp37-none-any.whl size=1107413 sha256=cd6cac9f759da5f7450dd17c0f04992131afd3ef1e891321ce35aa686c892850
  Stored in directory: /root/.cache/pip/wheels/c0/a3/b0/f27b1cfe32ea131a3715169132ff6d85653789e80e966c3bf6
Successfully built htmlmin phik
ERROR: google-colab 1.0.0 has requirement requests~=2.23.0, but you'll have requests 2.25.1 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: phik 0.11.2 has requirement scipy>=1.5.2, but you'll have scipy 1.4.1 which is incompatible.
Installing collected packages: htmlmin, PyYAML, phik, requests, tangled-up-in-unicode, multimethod, imagehash, visions, tqdm, pydantic, pandas-profiling
  Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
  Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
Successfully installed PyYAML-5.4.1 htmlmin-0.1.12 imagehash-4.2.0 multimethod-1.4 pandas-profiling-3.0.0 phik-0.11.2 pydantic-1.8.2 requests-2.25.1 tangled-up-in-unicode-0.1.0 tqdm-4.60.0 visions-0.7.1

# 함수 및 실행 전 기초 작업

## 1. DB 연결


### Function **db_connecting_aws**
### Function **db_connecting_local**
* 매개변수(parameter) : db_name

In [12]:
def db_connecting_aws(db_name):
    path = r'/content/gdrive/My Drive/DB 정보/AWS'
    f = open(path)
    id, pw, host = f.read().split()
    db = pymysql.connect(
        user = id,
        port = 3306,
        passwd = pw,
        host = host,
        db = db_name,
        charset = 'utf8',
        cursorclass = pymysql.cursors.DictCursor
    )
    return db
    
def db_connecting_local(db_name):
    path = r'/content/gdrive/My Drive/DB 정보/LOCAL'
    f = open(path)
    id, pw, host = f.read().split()
    db = pymysql.connect(
        user = id,
        port = 3306,
        passwd = pw,
        host = host,
        db = db_name,
        charset = 'utf8',
        cursorclass = pymysql.cursors.DictCursor
    )
    return db

### 실제 DB에 연결하기
* cpu의 갯수만큼 연결한다.
* 하나로 쓸 db, 여러개로 사용할 db_list를 따로 구성한다

In [ ]:
#db 작업
 
db = db_connecting_aws('stockdb')

db_list_aws = []
db_list_local = []
num_cores = mp.cpu_count()
for _ in range(num_cores):
    db_list_aws.append(db_connecting_aws('stockdb'))
    db_list_local.append(db_connecting_local('stockdb'))

## 2. Progress_bar 함수

### Function **my_pbar**
* 매개변수(parameter) : value, endvalue, bar_length(default = 20)

In [ ]:
def my_pbar(value, endvalue, bar_length = 20):
    if value % 100 == 0 or value == endvalue:
        percent = float(value) / endvalue
        complete = '<' + '▮' * int(round(percent * bar_length)-1)
        remain = '▯' * (bar_length - len(complete)) + '>'
        if percent <= 0.33:
            color = 91
            sys.stdout.write(f"\r\033[{color}m Percent: [{complete+remain}] {round(percent*100,2)}%\033[0m")
        elif percent <= 0.66:
            color = 93
            sys.stdout.write(f"\r\033[{color}m Percent: [{complete+remain}] {round(percent*100,2)}%\033[0m")
        elif percent == 1:
            color = 92
            sys.stdout.write(f"\r\033[{color}m Percent: [{complete+remain}] {round(percent*100,2)}%\033[0m")
        else:
            color = 96
            sys.stdout.write(f"\r\033[{color}m Percent: [{complete+remain}] {round(percent*100,2)}%\033[0m")
        sys.stdout.flush()

## 3. Manager를 통해 공유메모리 관리하기

In [14]:
num_cores = mp.cpu_count()
manager = Manager()
db_index = manager.list(list(range(num_cores)))
progress = manager.list([0 for x in range(num_cores)])

## 4. train_data 추출용 함수

### Function **input_making**
* 매개변수(parameter) : num
> 추출해낼 데이터를 num을 이용하여 랜덤으로 뽑아내기 위한 함수

In [ ]:
# primary key인 num을 이용하여 추출할 데이터 셋을 랜덤으로 뽑기 위한 함수

def input_making(num):
    global num_list
    index = db_index.pop(0)
    db = db_list_aws[index]
    sql = f"""
        select 
            C_code, 
            DATE_FORMAT(date, '%Y-%m-%d'),
            DATE_FORMAT(time, '%H:%i:%s') as time 
        from mdtbl2 
        where num = {num}
    """
 
    #start_time = dt.datetime.now()
    data = pd.read_sql(sql,db)
    #print('걸린시간 : %s' %(dt.datetime.now() - start_time))
 
    db_index.append(index)
    progress[index] = progress[index] + 1
    my_pbar(sum(progress),len(num_list))
    if len(data) > 0:
        return list(data.values[0])

### Function **data_making**
* 매개변수(parameter) : code, date, time
> input_making로 뽑아낸 데이터를 이용해 train_data를 추출하는 함수

In [ ]:
# 주어지는 데이터 = code, date, time, db, date_list, input_data
# 필요한 데이터 output 값
# 최고값 : 1분뒤, 2분뒤, 3분뒤, 5분뒤, 10분뒤, 5분간, 10분간, 20분간, 60분간, 오늘, 1일뒤, 2일뒤, 3일뒤, 5일뒤, 10일뒤, 3일간, 5일간, 10일간, 20일간

# 삼성전자를 이용하여 주식이 거래된 날짜의 list를 구한다.
sql = """
    select distinct date from mdtbl2 where C_code = '005930'
"""
date_list = pd.read_sql(sql, db)
date_list = date_list['date'].tolist()
date_list = [str(x) for x in date_list]

def data_making(code, date, time):
    global input_data
    try:
        index = db_index.pop(0)
        global date_list
        date_index = date_list.index(date)
        date_min = date_list[date_index - 30] #30일전
        date_max = date_list[date_index + 20] #20일후
        db = db_list_local[index]
        start_time = dt.datetime.now()
        sql = f"""set 
                    @price = (select priceE from mdtbl2
                                where 
                                    C_code = '{code}' and 
                                    date = '{date}' and 
                                    time = '{time}'
                            ),
                    @price_percent = (select priceE from mdtbl2
                                where 
                                    C_code = '{code}' and 
                                    date = '{date}' and 
                                    time = '{time}'
                            ) / 100,
                    @Issued_shares = (select Issued_shares from ftbl 
                                        where 
                                            C_code = '{code}' and 
                                            dateS <= '{date}' and 
                                            dateE >= '{date}'
                                    ),
                    @Issued_shares_minute = (select Issued_shares from ftbl 
                                        where 
                                            C_code = '{code}' and 
                                            dateS <= '{date}' and 
                                            dateE >= '{date}'
                                    ) / 390,
                    @BPS = (select BPS from ftbl
                                where
                                    C_code = '{code}' and
                                    dateS <= '{date}' and
                                    dateE >= '{date}' 
                        )
            """
        with db.cursor() as cursor:
            cursor.execute(sql)
            db.commit() 
        # 분봉 데이터 가져오기
        sql = f"""
            Select
                TBL1.C_code as C_code,
                (TBL1.PriceS / TBL2.PriceE - 1) * 100 as PriceS,
                (TBL1.PriceH / TBL2.PriceE - 1) * 100 as PriceH,
                (TBL1.PriceL / TBL2.PriceE - 1) * 100 as PriceL,
                (TBL1.PriceE / TBL2.PriceE - 1) * 100 as PriceE,
                TBL1.trade as Trade

                from
                (
                select
                    C_code,
                    date, 
                    time,
                    PriceS,
                    PriceH,
                    PriceL,
                    PriceE, 
                    trade / @Issued_shares_minute as trade
                    from mdtbl2
                    where
                        C_code = '{code}' and
                        date = '{date}' and
                        time > Date_SUB(time('{time}'), interval 60 minute) and
                        time <= '{time}'
                ) as TBL1,

                (
                select
                    C_code, 
                    date,
                    Date_ADD(time, interval 1 minute) as time,
                    PriceE
                    from mdtbl2
                    where
                        C_code = '{code}' and
                        (
                            (
                            date = '{date}' and
                            time > Date_SUB(time('{time}'), interval 61 minute) and
                            time < '{time}'
                            )
                            or
                            (
                            date = '{date_list[date_index - 1]}' and
                            time = '15:30:00'
                            )

                        )
                ) as TBL2
                where
                    TBL1.C_code = TBL2.C_code and
                    (
                        (
                        TBL1.date = TBL2.date and
                        TBL1.time = TBL2.time
                        )
                        or
                        (
                        TBL1.date = Date_ADD(TBL2.date, interval 1 day) and
                        TBL1.time = '09:00:00'
                        )
                    )
                    
        """
    
        df_input_M = pd.read_sql(sql,db)
        # 일봉 데이터 가져오기
    
        time_list = [1,2,3,5,10]
        date_30B = date_list[date_index - 30] #30일전
    
        sql = f"""
            select 
                TBL1.C_code as C_code, 
                TBL1.priceS / @BPS as priceS, 
                TBL1.priceH / @BPS as priceH, 
                TBL1.priceL / @BPS as priceL, 
                TBL2.priceE / @BPS as priceE, 
                TBL1.trade / @Issued_shares as trade
                from (
                    select 
                        C_code, 
                        date, 
                        time, 
                        priceS, 
                        max(priceH) as priceH, 
                        min(priceL) as priceL, 
                        sum(trade) as trade 
                    from mdtbl2
                    where
                        C_code = '{code}'and
                        date < '{date}' and
                        date >= '{date_30B}'
                    group by C_code, date
                    ) as TBL1,
    
                    (
                    select C_code, date, priceE 
                    from mdtbl2
                    where 
                        C_code = '{code}'and
                        date < '{date}' and
                        date >= '{date_30B}' and
                        time = '15:30:00'
                    ) as TBL2
                where TBL1.C_code = TBL2.C_code and TBL1.date = TBL2.date
        """
        df_input_D = pd.read_sql(sql, db)
    
        #output 가져오기
        dates = [1,2,3,5,10,20]
        tmp_date = [date_list[date_index + x] for x in dates]
    
    
        sql = f"""
            select 
                (TBL1.priceH - @price) / @price_percent as AF_1M,
                (TBL2.priceH - @price) / @price_percent as AF_2M,
                (TBL3.priceH - @price) / @price_percent as AF_3M,
                (TBL4.priceH - @price) / @price_percent as AF_5M,
                (TBL5.priceH - @price) / @price_percent as AF_10M,
                (TBL6.priceH - @price) / @price_percent as Max_5M,
                (TBL7.priceH - @price) / @price_percent as Max_10M,
                (TBL8.priceH - @price) / @price_percent as Max_20M,
                (TBL9.priceH - @price) / @price_percent as Max_60M,
                (TBL10.priceH - @price) / @price_percent as Max_Today,
                (TBL11.priceH - @price) / @price_percent as Max_AF_1D,
                (TBL12.priceH - @price) / @price_percent as Max_AF_2D,
                (TBL13.priceH - @price) / @price_percent as Max_AF_3D,
                (TBL14.priceH - @price) / @price_percent as Max_AF_5D,
                (TBL15.priceH - @price) / @price_percent as Max_AF_10D,
                (TBL16.priceH - @price) / @price_percent as Max_3D,
                (TBL17.priceH - @price) / @price_percent as Max_5D,
                (TBL18.priceH - @price) / @price_percent as Max_10D,
                (TBL19.priceH - @price) / @price_percent as Max_20D
            from (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time = Date_Add(time('{time}'), interval 1 minute)
            ) as TBL1,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time = Date_Add(time('{time}'), interval 2 minute)
            ) as TBL2,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time = Date_Add(time('{time}'), interval 3 minute)
            ) as TBL3,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time = Date_Add(time('{time}'), interval 5 minute)
            ) as TBL4,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time = Date_Add(time('{time}'), interval 10 minute)
            ) as TBL5,
    
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time > '{time}' and
                    time <= Date_Add(time('{time}'), interval 5 minute)
            ) as TBL6,
    
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time > '{time}' and
                    time <= Date_Add(time('{time}'), interval 10 minute)
            ) as TBL7,
    
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time > '{time}' and
                    time <= Date_Add(time('{time}'), interval 20 minute)
            ) as TBL8,
    
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time > '{time}' and
                    time <= Date_Add(time('{time}'), interval 60 minute)
            ) as TBL9,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{date}' and 
                    time >= '{time}'
            ) as TBL10,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{tmp_date[0]}'
            ) as TBL11,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{tmp_date[2]}'
            ) as TBL12,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{tmp_date[3]}'
            ) as TBL13,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date = '{tmp_date[4]}'
            ) as TBL14,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date ='{tmp_date[5]}'
            ) as TBL15,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date > '{date}' and
                    date <= '{tmp_date[2]}'
            ) as TBL16,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date > '{date}' and
                    date <= '{tmp_date[3]}'
            ) as TBL17,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date > '{date}' and
                    date <= '{tmp_date[4]}'
            ) as TBL18,
            
            (
                select ifnull(max(priceH),0) as priceH
                from mdtbl2
                where 
                    C_code = '{code}' and 
                    date > '{date}' and
                    date <= '{tmp_date[5]}'
            ) as TBL19
        """
    
    
        df_output = pd.read_sql(sql, db)
    
        df_list = [df_input_M,df_input_D,df_output]
        return df_list
    except:
        pass
    finally:
        #print('걸린시간 : %s' %(dt.datetime.now() - start_time))
        db_index.append(index)
        progress[index] = progress[index] + 1
        my_pbar(sum(progress),len(input_data))

### Function **minute_frame**
* 매개변수(parameter) : df, column_num_M
> data_making으로 뽑아낸 데이터를 정규화 해주는 함수

In [ ]:
def minute_frame(df,column_num_M):
    ary = np.zeros((60,column_num_M), dtype = object)
    data_len = len(df)
    ary[60-data_len:,:] = df

    return ary

### Function **day_frame**
* 매개변수(parameter) : df, column_num_D
> data_making으로 뽑아낸 데이터를 정규화 해주는 함수

In [ ]:
def day_frame(df,column_num_D):
    ary = np.zeros((30,column_num_D), dtype = object)
    data_len = len(df)
    ary[30-data_len:,:] = df

    return ary

# 실제 데이터 추출

## input_data 추출
* multiprocessing을 이용하여 데이터를 빠르게 추출한다.

### process 만들기

In [ ]:
pool = Pool(num_cores)

### max_num까지 30만개 뽑기

In [ ]:
sql = '''
    select max(num) as num from mdtbl2
'''
max_num = pd.read_sql(sql,db)['num'][0]
num_list = random.sample(range(1,max_num),300000)

### input_data 추출하기

In [ ]:
start_time = dt.datetime.now()
progress = manager.list([0 for x in range(num_cores)])
input_data = pool.map(input_making, num_list)
my_pbar(100,100)
progress = manager.list([0 for x in range(num_cores)])
print('총 걸린시간 : %s' %(dt.datetime.now() - start_time))
total = len(input_data)
input_data = list(filter(None, input_data))
dummy = total - len(input_data)
print(f'None값을 가진 데이터 {dummy}개를 제외하고, 총 {len(input_data)}개의 데이터 추출')

#### date기준 필터링
* 현재까지 수집해둔 데이터(mysql에 들어있는)가 2020년 1월 ~ 2021년 1월 즈음으로, 모든 데이터를 이용하기에는 무리가 있어 해당 날짜의 input_data만 사용

In [13]:
start_date = dt.datetime.strptime('2020-02-20', '%Y-%m-%d')
end_date = dt.datetime.strptime('2020-11-20', '%Y-%m-%d')
input_data = [x for x in input_data if (dt.datetime.strptime(x[1], '%Y-%m-%d') >= start_date and dt.datetime.strptime(x[1], '%Y-%m-%d') <= end_date)]
print(f'현재 가진 데이터로는 추출 불가능한 데이터 {total - dummy - len(input_data)}개를 제외하고, 총 {len(input_data)}개의 데이터 추출')

pool.close()
pool.join()

NameError: ignored

## train_data 추출

In [ ]:
num_cores = mp.cpu_count()
 
pool = Pool(num_cores) # process 만들기
 
start_time = dt.datetime.now()
train_data = pool.starmap(data_making, input_data)
my_pbar(100,100)
train_data = list(filter(None, train_data))
print('총 걸린시간 : %s' %(dt.datetime.now() - start_time))
pool.close()
pool.join()

## train_data 정규화

In [ ]:
column_num_M = len(train_data[0][0].transpose())
column_num_D = len(train_data[0][1].transpose())

#60분 동안의 데이터를 수집할 것이기 떄문에, 60으로 설정

train_data_M = [minute_frame(x[0],column_num_M) for x in train_data]
train_data_D = [day_frame(x[1],column_num_D) for x in train_data]
train_data_Out = [x[2] for x in train_data]

train_ary_M = np.stack(train_data_M, axis = 0)
train_ary_D = np.stack(train_data_D, axis = 0)
train_ary_Out = np.stack(train_data_Out, axis = 0)

## numpy파일로 저장

In [ ]:
path = r'/content/gdrive/My Drive/인공지능 데이터/'

np.save(path + '60분데이터',train_ary_M)
np.save(path + '30일데이터',train_ary_D)
np.save(path + '결과데이터',train_ary_Out)

# dd